* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-inner {
  background-color: #f0f0f0; /* Grey background */
}

.carousel-caption h5 {
  font-size: 1.5rem; /* Adjust the size as needed */
  color: #000; /* Dark color */
  font-weight: bold;
}

.card-hover:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

/* .footer {
  background-color: #343a40; /* Dark background */
/* color: #fff; White text
} */

.text-primary {
  color: #007bff !important;
}

.aim-text {
  font-size: 1.2rem; /* Adjust font size */
  text-align: left; /* Left align */
  max-width: 600px; /* Set a max-width to ensure 4 lines */
  margin: 0 auto; /* Center align the paragraph */
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.form-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.form-label {
  font-weight: bold;
}

.form-control {
  font-size: 1rem;
  padding: 0.75rem;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mb-3 {
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
} */
